#colleges{
    width: 12rem;
    height: 2rem;
    border-radius: 0.4rem;
    border: 0.2rem solid rgb(71, 71, 207);
}

button{
    height: 2rem;
    width: 5rem;
    background-color: rgb(51, 51, 174);
    color: white;
    border-radius: 0.3rem;
}